version: '3.1'

services:

  postgres:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: development
    ports:
      - 5432:5432

  redis:
    image: redis:latest
    restart: always
    ports:
      - "6379:6379"