services:
  # https://hub.docker.com/_/postgres
  postgres:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: oj_lab
    ports:
      - 5432:5432

  adminer:
    image: adminer
    restart: always
    links:
      - postgres
    depends_on:
      - postgres
    environment:
      - ADMINER_DEFAULT_SERVER=postgres
    ports:
      - 7070:8080

  # https://hub.docker.com/r/bitnami/minio
  minio:
    image: 'bitnami/minio:latest'
    restart: always
    privileged: true
    ports:
      - '9000:9000'
      - '9001:9001'
    environment:
      - MINIO_ROOT_USER=minio-root-user
      - MINIO_ROOT_PASSWORD=minio-root-password

  # https://hub.docker.com/_/redis
  redis:
    image: redis:latest
    restart: always
    ports:
      - "6379:6379"
